{
	"parser": "@typescript-eslint/parser",
	"extends": [
		"plugin:@typescript-eslint/recommended",
		"aribnb-base",
		"aribnb/typescript"
	],
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module",
		"project": "./tsconfig.json"
	}
}
